@{
  Layout = "_Layout";
}
<html>
  <body>
<h1>Welcome to the Vendor and Order Tracker!</h1>
<h3><a class="vendor" href='/vendors'>View Vendors</a></h3>
<h3><a class="vendor" href='/vendors/new'>Add a new Vendor</a></h3>
</body>
</html>

